.header-container {
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background:
      linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
      url('https://image.ibb.co/jKByZn/tile_bg_1.jpg');
  border-radius: 18px/40px;
  border-bottom: 4px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  box-shadow:
     0 0 0 2px #171314,
     0 0 0 5px #26714A,
     -3px 3px 2px 5px #171314;
  margin: 10px;
  margin-bottom: 20px;
}

.header-links-container {
  display: flex;
  width: 8em;
}

.logo {
  padding-left: 110px;
  margin: 0 auto;
}
.header-right {
  display: flex;
  margin-right: 10px;
}

.header-links {
  background:
      linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
      url('https://image.ibb.co/jKByZn/tile_bg_1.jpg');
  display: flex;
  border-radius: 18px/40px;
  border-bottom: 4px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 4em;
  height: 1.5em;
  text-align: center;
  justify-content: center;
}
